/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

li {
  font-size: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff"), url("../fonts/Circe-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.woff"), url("../fonts/Circe-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.woff"), url("../fonts/Circe-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Circe", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #262626;
  scroll-behavior: smooth;
  background: #feffff;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s;
}
.overlay--active {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}

.container {
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding-top: 14px;
}
.header__top {
  padding-bottom: 12px;
}
.header__top-inner {
  display: flex;
  align-items: center;
}
@media (max-width: 1300px) {
  .header__top-inner nav {
    display: none;
  }
}
.header__top-inner .header__cart,
.header__top-inner .header__favorite {
  display: none;
}
@media (max-width: 768px) {
  .header__top-inner .header__cart,
  .header__top-inner .header__favorite {
    display: inherit;
  }
}
@media (max-width: 768px) {
  .header__top-inner .header__tel, .header__top-inner .header__social, .header__top-inner .header__feedback, .header__top-inner .header__location {
    display: none;
  }
}
.header__location {
  margin-left: 23px;
  display: flex;
  align-items: center;
}
.header__location-text {
  margin-left: 3px;
  color: #00a7df;
  font-family: Circe;
  font-size: 15px;
}
.header .nav {
  margin-left: 24px;
}
.header .nav__list {
  display: flex;
}
.header .nav__item:not(:first-child) {
  margin-left: 31px;
}
.header .nav__link {
  display: block;
  font-size: 16px;
  line-height: 1.875;
}
.header__tel {
  display: block;
  margin-left: auto;
  font-family: Circe;
  font-size: 22px;
  font-weight: 700;
}
.header__social-wapp {
  margin-left: 10px;
  font-size: 16px;
}
.header__social-tg {
  margin-left: 4px;
  font-size: 16px;
}
.header__feedback {
  width: 164px;
  height: 42px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #00a7df;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #00a7df;
  background: rgba(0, 167, 223, 0);
}
.header .hamburger {
  display: none;
  width: 24px;
  height: 16px;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.header .hamburger span {
  width: 24px;
  height: 2px;
  background: #262626;
  position: relative;
  transition: all 0.3s;
}
.header .hamburger span::before {
  content: "";
  width: 24px;
  height: 2px;
  position: absolute;
  left: 0;
  background: #262626;
  transition: all 0.3s;
  transform: translateY(-7px);
}
.header .hamburger span::after {
  content: "";
  width: 24px;
  height: 2px;
  position: absolute;
  left: 0;
  background: #262626;
  transition: all 0.3s;
  transform: translateY(7px);
}
.header__menu .header__location,
.header__menu .header__tel,
.header__menu .header__social,
.header__menu .header__feedback,
.header__menu .header__compare,
.header__menu .header__profile {
  display: none;
}
@media (max-width: 768px) {
  .header__menu .header__location,
  .header__menu .header__tel,
  .header__menu .header__social,
  .header__menu .header__feedback,
  .header__menu .header__compare,
  .header__menu .header__profile {
    display: inherit;
  }
}
.header__bot {
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px rgba(217, 217, 217, 0.25);
}
.header__bot-inner {
  padding: 11px 0 12px;
  display: flex;
  align-items: center;
}
.header__catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ff8b34;
  min-width: 212px;
  min-height: 41px;
}
.header__catalog span {
  display: flex;
  align-items: center;
}
.header__catalog-text {
  min-height: 27px;
  margin-left: 14px;
  margin-top: 2px;
  color: #ffffff;
  font-family: Circe;
  font-size: 18px;
  font-weight: 700;
}
.header__search {
  position: relative;
  max-width: 658px;
  width: 100%;
  height: 41px;
  margin: 0 24px 0 12px;
}
.header__search input {
  width: 100%;
  height: 100%;
  padding: 0 40px 0px 18px;
  font-size: 14px;
  color: #262626;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: rgba(0, 167, 223, 0);
}
.header__search input::placeholder {
  font-size: 14px;
  color: #999999;
}
.header__search-icon {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 7px;
  background-image: url("../images/header/search-icon.svg");
}
.header__bot-right {
  min-width: 485px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__profile, .header__favorite, .header__compare, .header__cart {
  display: flex;
  align-items: center;
}
.header__profile img, .header__favorite img, .header__compare img, .header__cart img {
  height: 24px;
}
.header__profile-text, .header__favorite-text, .header__compare-text, .header__cart-text {
  font-size: 16px;
}
.header__profile-text {
  margin-left: 8px;
}
.header__favorite-text {
  margin-left: 7px;
}
.header__compare-text {
  margin-left: 6px;
}
.header__cart-text {
  margin-left: 8px;
}
.header__menu {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .header .nav__item:not(:first-child) {
    margin-left: 15px;
  }
  .header__tel {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1300px) {
  .header .nav {
    margin: 30px 0 0;
  }
  .header .nav__list {
    flex-direction: column;
  }
  .header .nav__item:not(:first-child) {
    margin: 0;
  }
  .header .nav__link {
    font-size: 18px;
  }
  .header__feedback {
    margin-left: 35px;
  }
  .header .hamburger {
    display: flex;
    margin-left: 35px;
  }
  .header__bot-right {
    min-width: 440px;
  }
  .header__menu {
    width: 50%;
    height: 100vh;
    padding: 25px;
    display: block;
    position: fixed;
    top: 0;
    left: -50%;
    background-color: #f7f8f9;
    z-index: 5;
    transition: all 0.3s;
  }
  .header__menu--active {
    left: 0;
  }
  .header__menu-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: auto;
  }
}
@media only screen and (max-width: 1170px) {
  .header__bot-right {
    min-width: 300px;
  }
  .header__profile, .header__favorite, .header__compare, .header__cart {
    flex-direction: column;
  }
  .header__profile img, .header__favorite img, .header__compare img, .header__cart img {
    height: 22px;
  }
  .header__profile-text, .header__favorite-text, .header__compare-text, .header__cart-text {
    margin: 5px 0 0;
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .header__catalog {
    min-width: 42px;
  }
  .header__catalog-text {
    display: none;
  }
  .header__bot-right {
    min-width: 200px;
  }
  .header__profile-text, .header__favorite-text, .header__compare-text, .header__cart-text {
    margin: 0;
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header__logo {
    max-width: 70px;
  }
  .header__location {
    margin: 0;
  }
  .header__tel {
    margin: 0;
  }
  .header__social-tg, .header__social-wapp {
    margin-left: 15px;
  }
  .header__feedback {
    margin: 15px 0 0;
  }
  .header .hamburger {
    margin-left: 20px;
  }
  .header__menu {
    width: 100%;
    left: -100%;
  }
  .header__menu--active {
    left: 0;
  }
  .header__menu-top {
    display: flex;
    align-items: center;
  }
  .header__menu-bot {
    min-width: 155px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
  }
  .header__bot-right {
    display: none;
  }
  .header__search {
    max-width: 100%;
    margin: 0 0 0 12px;
  }
  .header__compare, .header__profile {
    margin-left: 20px;
  }
  .header__favorite {
    margin-left: auto;
  }
  .header__cart {
    margin-left: 20px;
  }
}
.intro {
  padding-top: 30px;
  padding-bottom: 42px;
  background-color: #f7f8f9;
}
.intro__inner {
  width: 100%;
}
.intro__item-1 {
  grid-area: n1;
  background: url("../images/intro/1.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-1 {
    background-position: right center;
  }
}
.intro__item-2 {
  grid-area: n2;
  background: url("../images/intro/2.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-2 {
    background-position: right center;
  }
}
.intro__item-3 {
  grid-area: n3;
  background: url("../images/intro/3.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-3 {
    background-position: right center;
  }
}
.intro__item-4 {
  grid-area: n4;
  background: url("../images/intro/4.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-4 {
    background-position: right center;
  }
}
.intro__item-5 {
  grid-area: n5;
  background: url("../images/intro/5.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-5 {
    background-position: right center;
  }
}
.intro__item-6 {
  grid-area: n6;
  background: url("../images/intro/6.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-6 {
    background-position: right center;
  }
}
.intro__item-7 {
  grid-area: n7;
  background: url("../images/intro/7.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-7 {
    background-position: right center;
  }
}
.intro__item-8 {
  grid-area: n8;
  background: url("../images/intro/8.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-8 {
    background-position: right center;
  }
}
.intro__item-9 {
  grid-area: n9;
  background: url("../images/intro/9.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-9 {
    background-position: right center;
  }
}
.intro__item-10 {
  grid-area: n10;
  background: url("../images/intro/10.png"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 154px;
}
@media (max-width: 768px) {
  .intro__item-10 {
    background-position: right center;
  }
}
.intro__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-template-areas: "n1 n2 n2 n3" "n1 n2 n2 n4" "n1 n5 n6 n7" "n8 n8 n9 n10";
}
@media (max-width: 1200px) {
  .intro__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 154px);
    grid-template-areas: "n1 n2 n2" "n1 n2 n2" "n3 n4 n5" "n6 n7 n9" "n8 n8 n10";
  }
}
@media (max-width: 992px) {
  .intro__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 154px);
    grid-template-areas: "n1 n2" "n1 n2" "n3 n4" "n5 n6" "n7 n9" "n8 n10";
  }
}
@media (max-width: 768px) {
  .intro__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 154px);
    grid-template-areas: "n1 n2 n2" "n1 n2 n2" "n8 n8 n8";
  }
}
@media (max-width: 768px) {
  .intro__items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 154px);
    grid-template-areas: "n1" "n1" "n2" "n2" "n3" "n4" "n5" "n6" "n7" "n8" "n9" "n10";
  }
}
.intro__item {
  border-radius: 5px;
  box-shadow: 0px 4px 20px 0px rgba(166, 178, 181, 0.25);
}
@media (max-width: 768px) {
  .intro__item-1 {
    background-position: center;
  }
}
.intro__item-1 p, .intro__item-2 p {
  font-size: 30px;
}
@media (max-width: 768px) {
  .intro__item-1 p, .intro__item-2 p {
    font-size: 24px;
  }
}
.intro__item-3 p {
  max-width: 192px;
}
.intro__item-4 p {
  margin-top: 60px;
  max-width: 192px;
}
.intro__item-5 p {
  max-width: 192px;
}
.intro__item-6 p {
  max-width: 192px;
}
.intro__item-7 p {
  max-width: 192px;
}
.intro__item-8 p {
  max-width: 192px;
}
.intro__item-9 p {
  max-width: 192px;
}
.intro__item p {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 768px) {
  .intro__item p {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 768px) {
  .intro__item-8 {
    background-position: right !important;
  }
}
.service {
  padding-top: 40px;
}
.service__inner {
  display: flex;
  flex-direction: column;
}
.service__top {
  display: flex;
  flex-direction: column;
}
.service__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.service__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
}
.service__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.service__title-icon {
  margin-left: 8px;
}
.service__items {
  margin-top: 10px;
}
.service .slick-slide {
  display: flex;
}
.service__item {
  min-height: 332px;
  border-radius: 5px;
  background-image: url("../images/service/img-1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.service__item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 16px 10px 17px;
  background: rgba(38, 38, 38, 0.7);
  border-radius: 0 0 5px 5px;
}
.service__name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px; /* 109.091% */
}

.hits {
  padding-top: 50px;
  background-color: #ffffff;
}
.hits__inner {
  display: flex;
  flex-direction: column;
}
.hits__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hits__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
}
.hits__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.hits__title-icon {
  margin-left: 8px;
}

.new {
  padding-top: 70px;
  background-color: #ffffff;
}
.new__inner {
  display: flex;
  flex-direction: column;
}
.new__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.new__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
}
@media (max-width: 768px) {
  .new__title-name {
    font-size: 22px;
  }
}
.new__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.new__title-icon {
  margin-left: 8px;
}

.disposal {
  padding-top: 70px;
  padding: 70px 0 16px;
  background-color: #ffffff;
}
.disposal__inner {
  display: flex;
  flex-direction: column;
}
.disposal__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.disposal__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
}
.disposal__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.disposal__title-icon {
  margin-left: 8px;
}

.article {
  padding: 48px 0 75px;
  background-color: #f7f8f9;
}
.article__inner {
  display: flex;
  flex-direction: column;
}
.article__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
}
.article__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.article__title-icon {
  margin-left: 8px;
}
.article__items {
  margin-top: 20px;
  width: 100%;
}
.article__item {
  height: 290px;
  width: 100%;
  margin-top: 20px;
  display: flex !important;
  padding: 22px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(166, 178, 181, 0.25);
}
.article__left {
  padding-right: 22px;
  min-width: 220px;
}
.article__left img {
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}
.article__right {
  max-width: 314px;
}
.article__date {
  color: #999;
  font-size: 14px;
}
.article__title {
  margin-top: 8px;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.article__subtitle {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 24px; /* 150% */
}

@media only screen and (max-width: 992px) {
  .article__left {
    min-width: 50%;
  }
  .article__right {
    max-width: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .article__item {
    flex-direction: column;
    height: auto;
  }
  .article__date {
    margin-top: 10px;
    font-size: 12px;
  }
  .article__title {
    margin-top: 5px;
    font-size: 16px;
  }
  .article__subtitle {
    margin-top: 0;
    font-size: 14px;
  }
  .article__left {
    padding-right: 0;
    min-width: 100%;
  }
  .article__left img {
    width: 100%;
  }
  .article__right {
    max-width: 100%;
  }
}
.last {
  padding-top: 70px;
  background-color: #ffffff;
}
.last br {
  display: none;
}
.last__inner {
  display: flex;
  flex-direction: column;
}
.last__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.last__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
}
.last__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.last__title-icon {
  margin-left: 8px;
}

@media only screen and (max-width: 576px) {
  .last br {
    display: block;
  }
}
.banner {
  padding-top: 68px;
}
.banner__inner {
  width: 100%;
}
.banner__item {
  overflow: hidden;
  border-radius: 5px;
}

.news {
  margin-top: 58px;
}
.news__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.news__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 0.9375;
}
.news__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.news__title-icon {
  margin-left: 8px;
}
.news__items {
  margin-top: 10px;
}
.news__item {
  height: 260px;
  padding: 32px 22px 22px;
  margin-bottom: 72px !important;
  transition: all 0.3s;
  border-radius: 5px;
  background-color: #ffffff;
}
@media (hover: hover) {
  .news__item:hover {
    box-shadow: 0px 4px 20px 0px rgba(166, 178, 181, 0.25);
  }
  .news__item:hover .news__item-title {
    color: #ff8b34;
  }
}
.news__item-date {
  font-size: 14px;
  color: #999999;
}
.news__item-title {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  line-height: 1.2;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news__item-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.news .slick-track {
  position: relative;
}
.news .slick-dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .slick-dots li {
  list-style: none;
  margin-bottom: 70px !important;
}

.sale {
  width: 100%;
  margin-top: 87px;
  padding: 53px 0 68px;
  background-color: #f7f8f9;
}
.sale__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sale__title-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 0.9375;
}
.sale__title-showall {
  color: #38a7df;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.sale__title-icon {
  margin-left: 8px;
}
.sale__items {
  margin-top: 20px;
}
.sale__item {
  height: 205px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}
.sale__item-img {
  position: absolute;
  top: 0;
  left: 0;
}
.sale__item-title {
  height: 100px;
  padding: 27px 13px 0 82px;
  font-size: 20px;
  font-weight: 700;
  color: #00a7df;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.sale__item-text {
  margin-top: 8px;
  padding: 0 19px 8px 22px;
  font-size: 16px;
  line-height: 1.375;
  color: #262626;
}

.footer {
  margin-top: 116px;
  padding-top: 63.5px;
  background: #262626;
  color: #fff;
}
.footer__top-wrapper {
  display: flex;
}
.footer__logo {
  margin-left: 35px;
}
.footer__feedback {
  margin-left: 76.5px;
  max-width: 310px;
}
.footer__feedback-connect {
  display: flex;
  align-items: flex-start;
}
.footer__tel {
  color: #feffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 24px; /* 92.308% */
}
.footer__social-wapp {
  margin-left: 10px;
}
.footer__social-tg {
  margin-left: 4px;
}
.footer__worktime {
  color: #999;
  font-size: 14px;
  line-height: 24px;
}
.footer__feedback-btn {
  width: 100%;
  height: 43.642px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #00a7df;
  background: rgba(0, 167, 223, 0);
  color: #00a7df;
  font-size: 16px;
}
.footer__address {
  margin-top: 15px;
  color: #feffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.footer__mail {
  margin-top: 15px;
  color: #00a7df;
  font-size: 18px;
  line-height: 140%; /* 25.2px */
}
.footer__about {
  margin-left: auto;
}
.footer__order {
  margin-left: 70px;
}
.footer__client {
  margin-left: 40px;
}
.footer .footer__items {
  display: flex;
  flex-direction: column;
}
.footer .footer__items-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.footer .footer__items-title {
  color: #feffff;
  font-weight: 700;
  line-height: 130%; /* 26px */
}
.footer__item {
  color: #feffff;
  font-size: 16px;
  line-height: 140%; /* 22.4px */
}
.footer__item:not(:first-child) {
  margin-top: 20px;
}
.footer__bot {
  margin-top: 39px;
  background: #323131;
  padding: 28px 35px;
}
.footer__bot-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__rights {
  color: #999;
  font-size: 13px;
  line-height: 140%; /* 18.2px */
}
.footer__rights br {
  display: none;
}
.footer .bot-socials {
  display: flex;
  align-items: center;
}
@media (max-width: 400px) {
  .footer .bot-socials {
    flex-direction: column;
  }
}
.footer .bot-socials__text {
  color: #999;
  font-size: 13px;
  line-height: 140%; /* 18.2px */
  margin-right: 13px;
}
.footer .bot-socials__list {
  display: flex;
  align-items: center;
}
.footer .bot-socials__item {
  display: flex;
  align-items: center;
}
.footer .bot-socials__item:not(:first-child) {
  margin-left: 11px;
}

@media only screen and (max-width: 1200px) {
  .footer__order {
    margin-left: 35px;
  }
  .footer__client {
    margin-left: 35px;
  }
  .footer__feedback {
    max-width: 280px;
    margin: 0 35px;
  }
}
@media only screen and (max-width: 1024px) {
  .footer__about {
    grid-area: about;
  }
  .footer__feedback {
    grid-area: feedback;
  }
  .footer__client {
    grid-area: client;
  }
  .footer__order {
    grid-area: order-area;
  }
  .footer__logo {
    grid-area: logo;
  }
  .footer__top-wrapper {
    display: grid;
    grid-template-areas: "logo logo feedback" "about order-area client";
    gap: 30px;
  }
  .footer__about, .footer__feedback, .footer__client, .footer__order, .footer__logo {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer__top-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__items-title {
    position: relative;
  }
  .footer__items-title::after {
    position: absolute;
    content: "";
    display: block;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("../images/tab-menu__arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
  }
  .footer__items-title--active::after {
    transform: translateY(-50%) rotate(180deg);
  }
  .footer__items-wrapper {
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
  }
  .footer__bot {
    padding: 28px 0;
  }
  .footer__rights br {
    display: block;
  }
}
.product {
  margin-top: 20px;
}
.product__item {
  border-radius: 5px;
  border: 1px solid #e8e7e7;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 22px;
}
.product__item-img {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 300px;
}
.product__item-img img {
  object-fit: cover;
  width: 248px;
  height: 248px;
}
.product__model {
  margin-top: 7px;
  color: #999;
  font-size: 12px;
  line-height: 22px; /* 183.333% */
}
.product__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}
.product__price {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price-left {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  line-height: 24px; /* 92.308% */
}
.product__price-left span {
  margin: 0 8px;
}
.product__price-right {
  display: flex;
  color: #219653;
  font-size: 15px;
  line-height: 22px; /* 146.667% */
  position: relative;
}
.product__price-right span {
  margin-left: 8px;
}
.product__price-right::after {
  position: absolute;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  left: -10px;
  top: 9px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #219653;
}
.product__bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__bottom-left {
  width: 164px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ff8b34;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.product__bottom-left span {
  margin-right: 10px;
}
.product__bottom-right {
  display: flex;
}
.product__bottom-right span {
  display: flex;
  align-items: center;
}
.product__bottom-right span:first-child {
  margin-right: 12px;
}

.slider {
  width: 100%;
  position: relative;
}

.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  height: 53px;
  width: 53px;
  background-color: #f7f8f9;
  background-size: cover;
  border: none;
  border-radius: 50%;
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-slider .slick-next {
  background-image: url("../images/product/arrow-right.svg");
  right: -123px;
}
@media (max-width: 1670px) {
  .slick-slider .slick-next {
    right: -26.5px;
  }
}
.slick-slider .slick-prev {
  background-image: url("../images/product/arrow-left.svg");
  left: -123px;
}
@media (max-width: 1670px) {
  .slick-slider .slick-prev {
    left: -26.5px;
  }
}
.slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slider .slick-dots li {
  list-style: none;
  margin: 20px 10px 0;
}
.slick-slider .slick-dots button {
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #999;
  border-radius: 50%;
  transition: all 200ms linear;
}
.slick-slider .slick-dots .slick-active button {
  background-color: #ff8b34;
  transform: scale(1.3);
}

/* the slides */
.slick-slide {
  margin: 0 15px;
}

/* the parent */
.slick-list {
  margin: 0 -15px;
}

@media only screen and (max-width: 768px) {
  .hits__title-name,
  .new__title-name,
  .disposal__title-name,
  .last__title-name,
  .sale__title-name,
  .news__title-name,
  .article__title-name,
  .service__title-name {
    font-size: 22px;
  }
  .hits__title-showall,
  .new__title-showall,
  .disposal__title-showall,
  .last__title-showall,
  .sale__title-showall,
  .news__title-showall,
  .article__title-showall,
  .service__title-showall {
    font-size: 14px;
  }
  .product__title {
    font-size: 16px;
  }
  .product__price-left {
    font-size: 22px;
  }
  .product__price-right {
    font-size: 16px;
  }
  .product__bottom-left {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .hits__title-name,
  .new__title-name,
  .disposal__title-name,
  .last__title-name,
  .sale__title-name,
  .news__title-name,
  .article__title-name,
  .service__title-name {
    font-size: 16px;
  }
  .hits__title-showall,
  .new__title-showall,
  .disposal__title-showall,
  .last__title-showall,
  .sale__title-showall,
  .news__title-showall,
  .article__title-showall,
  .service__title-showall {
    font-size: 12px;
  }
  .product__title {
    font-size: 14px;
  }
  .product__price-left {
    font-size: 18px;
  }
  .product__price-right {
    font-size: 14px;
  }
  .product__bottom-left {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */