//400 700 800
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff"), url("../fonts/Circe-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.woff"), url("../fonts/Circe-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.woff"), url("../fonts/Circe-ExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
