.header {
  padding-top: 14px;
  //header top styles

  &__top {
    padding-bottom: 12px;
    &-inner {
      display: flex;
      align-items: center;
    }
  }

  &__location {
    margin-left: 23px;
    display: flex;
    align-items: center;
    &-text {
      min-height: 33px;
      margin-left: 3px;
      color: #00a7df;
      font-family: Circe;
      font-size: 15px;
      line-height: 200%;
    }
  }

  .nav {
    margin-left: 24px;
    &__list {
      display: flex;
    }
    &__item {
      &:not(:first-child) {
        margin-left: 31px;
      }
    }
    &__link {
      display: block;
      min-height: 33px;
      font-size: 16px;
      line-height: 187.5%;
    }
  }

  &__tel {
    display: block;
    min-height: 33px;
    margin-left: 52px;
    font-family: Circe;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
  }

  &__social-wapp {
    margin-left: 10px;
  }

  &__social-tg {
    margin-left: 4px;
  }

  &__feedback {
    min-width: 164px;
    height: 42px;
    align-self: flex-start;
    margin-left: auto;
    border-radius: 5px;
    border: 1px solid #00a7df;
    background: rgba(0, 167, 223, 0);
    span {
      display: block;
      padding: 8px 0 11px;
      color: #00a7df;
      text-align: center;
      font-size: 16px;
    }
  }

  //header bot styles
  &__bot {
    background: $white;
    box-shadow: 0px 4px 5px 0px rgba(217, 217, 217, 0.25);
    &-inner {
      padding: 11px 0 12px;
      display: flex;
      align-items: center;
    }
  }
  &__catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $primary;
    min-width: 212px;
    min-height: 41px;
    span {
      display: flex;
      align-items: center;
    }
    &-text {
      min-height: 27px;
      margin-left: 14px;
      margin-top: 2px;
      color: $white;
      font-family: Circe;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__search {
    margin-left: 12px;
    position: relative;
    width: 658px;
    height: 41px;
    input {
      width: 100%;
      height: 100%;
      padding: 0 40px 0px 18px;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
      background: rgba(0, 167, 223, 0);
    }
    &-icon {
      position: absolute;
      display: block;
      width: 25px;
      height: 25px;
      right: 10px;
      top: 7px;
      background-image: url("../../images/header/search-icon.svg");
    }
  }
  &__profile,
  &__favorite,
  &__compare,
  &__cart {
    display: flex;
    align-items: center;
    &-text {
      font-size: 16px;
      line-height: 30px; /* 187.5% */
    }
  }
  &__profile {
    margin-left: 24px;
    &-text {
      margin-left: 8px;
    }
  }
  &__favorite {
    margin-left: 43px;
    &-text {
      margin-left: 7px;
    }
  }
  &__compare {
    margin-left: 39px;
    &-text {
      margin-left: 6px;
    }
  }
  &__cart {
    margin-left: auto;
    &-text {
      margin-left: 8px;
    }
  }
}
