.intro {
  padding-top: 30px;
  padding-bottom: 42px;
  background-color: #f7f8f9;
  &__inner {
    width: 100%;
  }
  @for $i from 1 to 11 {
    &__item-#{$i} {
      grid-area: n#{$i};
      background: url("../images/intro/#{$i}.png"), #fff;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 154px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-template-areas:
      "n1 n2 n2 n3"
      "n1 n2 n2 n4"
      "n1 n5 n6 n7"
      "n8 n8 n9 n10";

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 154px);
      grid-template-areas:
        "n1 n2 n2"
        "n1 n2 n2"
        "n3 n4 n5"
        "n6 n7 n9"
        "n8 n8 n10";
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 154px);
      grid-template-areas:
        "n1 n2"
        "n1 n2"
        "n3 n4"
        "n5 n6"
        "n7 n9"
        "n8 n10";
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 154px);
      grid-template-areas:
        "n1 n2 n2"
        "n1 n2 n2"
        "n8 n8 n8";
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 154px);
      grid-template-areas:
        "n1 n1 "
        "n1 n1 "
        "n2 n2 "
        "n2 n2 "
        "n8 n8 ";
    }
  }
  &__item {
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px rgba(166, 178, 181, 0.25);
    &-1,
    &-2 {
      p {
        font-size: 30px;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }
    &-3 {
      p {
        max-width: 192px;
      }
    }
    &-4 {
      p {
        margin-top: 60px;
        max-width: 192px;
      }
    }
    &-5 {
      p {
        max-width: 192px;
      }
    }
    &-6 {
      p {
        max-width: 192px;
      }
    }
    &-7 {
      p {
        max-width: 192px;
      }
    }
    &-8 {
      p {
        max-width: 192px;
      }
    }
    &-9 {
      p {
        max-width: 192px;
      }
    }
  }

  &__slider {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      margin-top: 30px;
    }
    .intro__item {
      background-position: right 0;
      background-size: contain;
    }
    .slick-dots {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    p {
      margin-top: 40px;
      margin-left: 20px;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      @media (max-width: 768px) {
        font-size: 18px !important;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .intro__item-8 {
    background-position: right !important;
  }
}
