.service {
  padding-top: 40px;

  &__inner {
    display: flex;
    flex-direction: column;
  }
  //service top styles
  &__top {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-name {
      font-size: 32px;
      font-weight: 700;
      line-height: 30px; /* 93.75% */
    }
    &-showall {
      color: #38a7df;
      font-size: 15px;
      display: flex;
      align-items: center;
    }
    &-icon {
      margin-left: 8px;
    }
  }

  &__items {
    margin-top: 10px;
  }
  .slick-slide {
    display: flex;
  }

  &__item {
    min-height: 332px;
    border-radius: 5px;
    background-image: url("../images/service/img-1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 12px 16px 10px 17px;
      background: rgba(38, 38, 38, 0.7);
      border-radius: 0 0 5px 5px;
    }
  }

  &__name {
    color: $white;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px; /* 109.091% */
  }
}
